<div class="container mt-5">
    <div class="row">
        <h2 class="col-12 col-md-8 offset-md-2 text-center mb-3">Amenities</h2>
        <div>
            <h5 class="col-12 col-md-8 offset-md-2 text-left">Kitchen</h5>
            <p class="col-12 col-md-8 offset-md-2 text-left">Fully equipped kitchen with everything you will need
                during
                your stay</p>
            <div class="col-10 col-md-8 offset-md-2 text-left">
                <ul>
                    <li>Microwave</li>
                    <li>Stove and oven</li>
                    <li>Fridge</li>
                    <li>Countertop dishwasher</li>
                    <li>LG washer / dryer</li>
                </ul>
            </div>
        </div>

        <div class="row mt-3">
            <h5 class="col-12 col-md-8 offset-md-2 text-left">Living area and patio</h5>
            <p class="col-12 col-md-8 offset-md-2 text-left">Open plan living area that walks out onto the covered
                patio
            </p>
            <div class="col-10 col-md-8 offset-md-2 text-left">
                <ul>
                    <li>Smart Android TV</li>
                    <li>Fibre WiFi</li>
                    <li>Bar fridge</li>
                    <li>Ice maker</li>
                    <li>Weber braai</li>
                </ul>
                <em>Please note that for DSTV and other streaming services, you can sign in with your own accounts for
                    comfort. We do not provide satellite DSTV.</em>
            </div>
        </div>

        <div class="row mt-3">
            <h5 class="col-12 col-md-8 offset-md-2 text-left mt-3">Bedrooms</h5>
            <p class="col-12 col-md-8 offset-md-2 text-left">Both bedrooms come with en-suite bathrooms with showers
            </p>
            <div class="col-10 col-md-8 offset-md-2 text-left">
                <ul>
                    <li><strong>Bedroom 1</strong> - with Queen XL bed</li>
                    <li><strong>Bedroom 2</strong> - with 2 x Single XL Beds that can be converted to King XL</li>
                </ul>
            </div>
        </div>

        <div class="row mt-3">
            <h5 class="col-12 col-md-8 offset-md-2 text-left mt-3">Lodge amenities</h5>
            <p class="col-12 col-md-8 offset-md-2 text-left">The lodge is situated on the Keurbooms river and just a 10 minute walk to the beach</p>
            <div class="col-10 col-md-8 offset-md-2 text-left">
                <ul>
                    <li>Swimming pool</li>
                    <li>Tennis court</li>
                    <li>Kiddies play area</li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="col-4 offset-4">
</div>