<div class="container mt-4">
    <div class="row">
        <p class="col-12 col-md-8 offset-md-2 text-center">Serenity is a self-catering apartment situated on the banks of the Keurbooms River in the beloved Keurbooms River Lodge. The apartment can sleep 4 people comfortably and is equipped with everything that you need for your holiday stay. Just a 10 minute walk from the ocean and close to many restaurants and activities along the Garden Route.</p>
    </div>
    <hr class="col-4 offset-4 mt-2">
</div>