<div class="container mt-5">
  <div class="row">
    <h4 class="col-12 col-md-8 offset-md-2 text-center mb-4">Experience the Garden Route while living in style!</h4>
  </div>
  <div class="row mb-4 text-center">
    <lightgallery [settings]="settings">
      
      <a class="gallery-item rounded" 
        *ngFor="let photo of photos"
        [attr.data-src]="photo.photo" 
        [attr.data-sub-html]="photo.caption">
          <img class="img-responsive" [src]="photo.thumbnail" alt="" />
      </a> 

    </lightgallery>
  </div>
  <hr class="col-4 offset-4">
</div>